#warp{
	max-width: 640px; margin: 0 auto; min-height: 100%; overflow: hidden; position: relative; background:#fff; background: url(../images/bg.jpg);
}
#form{
	margin: 25px;border-radius: 12px;border: 1px solid #D1D1D1;background-color: #FFFFFF; /*box-shadow: 0 0 10px 2px #E2E2E2;*/
}
#form-header{
	height: 35px;padding: 15px 15px 8px; border-bottom: 1px solid #D3D8DC; color: #000000; font-size:1.6em;
}
#form-header span{
	color: #3399CC;font-weight: bold;
}
#form-content{
	text-align: center; margin: 10px 10px 30px 10px;
}
#form-content input{ 
	width: 90%;height: 35px;padding: 0 5px;
}
#form-content>div{
	margin-bottom: 30px;
}
#form-content a{display: inline-block;width: 47%;height: 40px;
	background: #3399CC;color: #fff;line-height: 40px; font-size: 1.2em;
	border-radius: 4px;
}

#tips
{
	margin: 25px;
	padding-left: 10px;
	color: rgb(192, 152, 83);
	direction: ltr;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px;
}
